header {
    background-color: rgb(62, 148, 28);
  }

h2 {
background-color: #6d75bd;
color: aqua;
width: 100%;
margin: 0 auto;
}

#LeilaCar {
width: 82%;
}

h3 {
background-color: #313a87;
color: rgb(12, 232, 232);
width: 100%;
margin: 0 auto;
}

.info {
text-align: center;
border: 3px solid rgb(34, 37, 227);
padding: 15px;
margin: 3px auto;
width: 700px; height: 475px;
margin: 50px auto;
}
